* {
  margin: 0;
  padding: 0;
}

.event-2021-container{
  height: 100vh;
  background-image:
    linear-gradient(to right, rgb(255, 203, 5, .25), rgb(255, 203, 5, .45)),
    url("../images/angell_hall_side_right_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00274C;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  height: 5vh;
  opacity: .9;
}

.nav a {
  font-family: 'IBM Plex Serif';
  font-size: 20px;
  color: rgb(240, 240, 240);
  text-decoration: none;
}


.nav a:after {
  display: block;
  content: ' ';
  border-bottom: solid 3px #FFCB05;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover {
  color: #FFCB05;
}

.nav a:hover:after {
  transform: scaleX(1);
}


.event-2021 {
  margin-top: 20px;
  padding-top: 10px;
  margin-left: 30vw;
  height: 60vh;
  background-image: linear-gradient(to bottom, rgb(235, 235, 235, .9), rgb(255, 255, 255, .9));
  clip-path: polygon(0 0, 90% 0, 90% 80%, 0 80%);
}

.title {
  width: 90%;
  text-align: center;
}

.event-2021-info {
  display: flex;
}

.discussant-series {
  box-sizing: border-box;
  padding-left: 30px;
  width: 40%;
  border-right: 1px solid black;
}

.grad-series {
  box-sizing: border-box;
  padding-left: 30px;
  width: 50%;
}
