* {
  margin: 0;
  padding: 0;
}



.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #00274C;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  height: 3.5vh;
}

.nav a {
  margin-top: .4vh;
  margin-bottom: .4vh;
  font-family: 'IBM Plex Serif';
  font-size: 20px;
  color: rgb(240, 240, 240);
  padding: .4vh;
  text-decoration: none;
}


.nav a:after {
  display: block;
  content: ' ';
  border-bottom: solid 3px #FFCB05;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover {
  color: #FFCB05;
}

.nav a:hover:after {
  transform: scaleX(1);
}
