* {
  margin: 0;
  padding: 0;
}

.about-mmp-container {
  height: 100vh;
  background-image:
    linear-gradient(to right, rgb(255, 203, 5, .25), rgb(255, 203, 5, .45)),
    url("../images/tanner_library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00274C;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  height: 5vh;
  opacity: .85;
}

.nav a {
  font-family: 'IBM Plex Serif';
  font-size: 20px;
  color: rgb(240, 240, 240);
  text-decoration: none;
}


.nav a:after {
  display: block;
  content: ' ';
  border-bottom: solid 3px #FFCB05;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover {
  color: #FFCB05;
}

.nav a:hover:after {
  transform: scaleX(1);
}

.about-page {
  display: flex;
  height: 95vh;
  width: 100%;
}

.about-mmp {
  height: 90%;
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
  background-image: linear-gradient(to bottom right, rgb(235, 235, 235, 1), rgb(255, 255, 255, .85));
  clip-path: polygon(0 0, 100% 0, 60% 90%, 0 100%);
}

.about-mmp-info {
  width: 90%;
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 40px;
}

.welcome-message {
  font-size: 20px;
}

.background-info {
  line-height: 150%;
  font-size: 18px;
  max-width: 80%;
}

.info-2021 {
  line-height: 150%;
  font-size: 18px;
  max-width: 70%;
}

.past-event-info {
  line-height: 150%;
  font-size: 18px;
  max-width: 60%;
}

.sponsors {
  line-height: 150%;
  font-size: 15px;
  max-width: 50%;
}
