
@media only screen and (max-width: 1200px){
  body {font-size: 19px;}
  .michigan-m-nav {height: 55%;}
  .contact-info-container {clip-path: polygon(40% 0, 100% 0, 100% 100%, 63% 100%);}
  .contact-info {width: 50%}
  .coordinators {width: 45%}
}

@media only screen and (max-width: 992px){
  body {font-size: 16.5px;}
  .michigan-m-nav {height: 50%;}
}

@media only screen and (max-width: 768px){
  body {font-size: 16px;}
  .home-container {
    width: 400px;
    align-items: center;
  }
  .nav-links {display: none;}
  .about-mmp {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  .about-column {
    width: 80%;
    padding-top: 40px;
  }
  .about-column p {padding-top: 20px;}

  .contact-info-container {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
  }
  .contact-info {width: 80%;}
  .contact-info-container {padding-bottom: 30vh;}
  .coordinators {width: 80%;}
  .coordinator {justify-content: flex-start;}
}
